/NvTranscoder_2010.opensdf
/NvTranscoder_2010.sdf
/NvTranscoder_2010.v11.suo
/NvTranscoder_2010.vcxproj.user
/NvTranscoder_2013.sdf
/NvTranscoder_2013.v11.suo
/NvTranscoder_2013.vcxproj.user
/NvTranscoder_2010.VC.VC.opendb
/NvTranscoder_2010.VC.db
